# Entornos virtuales
venv/
.venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Base de datos local
weather.db
*.db

# Configuración y secretos
.env
.env.local

# Node modules (para cuando empecemos con el frontend)
node_modules/
dist/